requests~=2.25.0
jupyter>=1.0.0
ipywidgets>=7.5.1
dna_features_viewer
fire~=0.3.1
nbformat~=5.0.8
voila
statsmodels~=0.12.1
svgutils~=0.3.1

pysam~=0.16.0.1
coolbox~=0.2.6
matplotlib~=3.2.2
ipython~=7.19.0
pandas~=1.1.4
numpy~=1.19.4
scipy~=1.5.4
setuptools~=50.3.2
intervaltree
